.box-shadow {
    box-shadow: 0.25rem .75rem rgba(0, 0, 0, .05);
}

.your-cart {
    display: flex;
    justify-content: space-between;
}

.amount {
    border-radius: 50px;
    border: none;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.cart-box {
    border: 1px solid lightgray;
}

.cart-box * {
    font-weight: 600;
    line-height: 0rem;
}

.cart {
    border-bottom: 1px solid lightgray;
}

.item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.promo {
    border-bottom: 1px solid lightgray;
    color: green;
}

footer {
    text-align: center;
}